* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: $charcoal;
  font-family: $main-font;
  color: $silver;
  display: grid;
}

.form-bg {
  background-color: $charcoal;
  height: 100vh;

}





