.Card {
  background-color: $navy;
  border-radius: 3px;
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 300px;
  width: 185px;

  section {
    align-items: center;
    display: flex;
    justify-content: space-between;

    p {
      display: inline-block;
      font-size: 12px;
      font-weight: 300;
      margin: 0;
      padding-left: 5px; 
    }

    button {
      background-color: $navy;
      border: 0;
      color: $silver;
      padding: 0 5px;
    }

    button:hover {
      color: $coral;
      cursor: pointer;
    }
  }

  .p-tag{
    font-size: 10px;
    color: white;
  }
}