header {
  background-color: $navy;
  display: grid; 
  grid-template-areas: "logo nav";
  padding: 0 10px;
  
  section {
    align-items: center;
    display: flex;
    grid-area: logo;

    h1 {
      font-family: $accent-font;
    }
  }

  nav {
    align-items: center;
    display: flex;
    grid-area: nav;
    justify-content: flex-end;
   
    a {
      color: $silver;
      font-size: 14px;
      font-weight: 300;
      margin: 5px;
      text-decoration: none;

      :hover {
        cursor: pointer;
      }
    }
  }

  .out {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 300;
    background-color: $navy;
    color: $silver;
    border: 0;
  }

  .favorites {
    background-color: $silver;
    color: $coral;
    border-radius: 3px;
    border: 0;
    margin: 10px;
    padding: 5px;

    span {
      padding: 5px;
    }
  }

  .favorite {
    color: $coral;
  }

  .greet {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 300;
  }
}