.dispaly-movies {
  background-color: $charcoal;
  display: grid;
  grid-gap: 4%;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 20px;
  overflow: scroll;
  padding: 20px;
}

@media only screen and (max-width: 1160px) {
  .dispaly-movies {
    grid-template-columns: repeat(5, 1fr)
  }
}

@media only screen and (max-width: 860px) {
  .dispaly-movies {
    grid-template-columns: repeat(4, 1fr)
  }
}